@{
    Layout = "_Layout";
    
}
@model IEnumerable<AriCoffeeShop.Models.Kategori>

<p> 

    <a class="btn btn-primary" href="/Admin/Kategori/Create">Yeni Oluştur</a>
    
</p>

<table class="table">

    <thead>
        <tr>
            <th>Adı</th>
            <th>İşlem</th>

        </tr>


    </thead>
    <tbody>

        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>
                    <a asp-action="Edit" class="btn btn-dark">Güncelle</a>
                </td>

            </tr>
            
        }

    </tbody>



</table>